$primary: #1057A6;

@import "~bootstrap/scss/bootstrap";

.btn {
  box-shadow: none !important;
}

.App {
  padding: 1rem;

  .btn {
    margin: 20px 0;
  }

  .spinner-border {
    margin: 20px 0;
    font-size: 25px;
  }
}
